<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Acceuil</title>
    {% block head %}

    {% endblock %}
</head>
<body>
    <navbar>
        <button><a href="/accueil">Acceuil</a></button>
        <button><a href="/creation">Création</a></button>
        <button><a href="/login">Login</a></button>
    </navbar>
    {% block body %}

    {% endblock %}

</body> 

{% block javascript %}

{% endblock %}

</html>