<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Inscription</title>
    </head>
    <body>
        <form method="POST" action="http://localhost:5000/user/create">
            <h1>Inscription</h1>
            <p>Login : </p>
        </br>
            <input type="text" name="login" id="login">
        </br>
            <p>Mot de passe : </p>
        </br>
            <input type="password" name="password" id="password">
        </br>
            <input type="submit">
        </form>
    </body>
    <script>
    $(document).ready(function(){
        if (document.cookie.indexOf('login') != -1 && document.cookie.indexOf('token') != -1){
            login = getCookie('login');
            token = getCookie('token');
            window.location.href = "/accueil"
        }
    }) 

    function getCookie(nomCookie) {
        debut = document.cookie.indexOf(nomCookie+ "=")
        if (debut >= 0) {
            debut += nomCookie.length + 1
            fin = document.cookie.indexOf(";",debut)
            if (fin < 0) fin = document.cookie.length
            return unescape(document.cookie.substring(debut,fin))
        }
        else 
            return ""
    }
</script>
</html>